@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ajoutez ces styles dans votre fichier CSS existant ou dans un fichier séparé */
.docList {
    max-height: 500px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    width: 100%;
    padding: 10px; 
    border:none;
}
