@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smartphone style */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/wp2595609.jpg') !important;

  background-repeat: no-repeat !important;
  background-position: center;
  background-size: cover !important;
}

.phone-frame {
  display: inline-block;
  background-color: #000;
  border: 12px solid #888;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 15px;
  width: 412px;
  /* Largeur du téléphone (peut varier en fonction du modèle) */
}

.s20-ultra {
  background-color: #000;
  /* border: 2px solid #888; */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 360px;
  height: 830px;
  overflow-y: hidden;


}


/* .s20-ultra-camera {
    background-color: #222;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
  } */

/* .s20-ultra-screen {
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 8px;
    height: 640px;
    width: 320px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

/* .s20-ultra-buttons {
    background-color: #333;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
  } */




/* Ajoutez ces styles dans votre fichier CSS existant ou dans un fichier séparé */
.docList {
  max-height: 500px;
  overflow-y: auto;

  width: 100%;
  padding: 10px;
  border: none;
}


.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ajoutez d'autres styles au besoin */
}


.TerminList {
  max-height: 300px;
  overflow-y: auto;

  padding: 10px;
  border: none;
}

@keyframes startAnimation {
  0% {
    background-color: rgb(63, 27, 126);
  }

  10% {
    background-color: rgb(83, 115, 222);
  }

  30% {
    background-color: rgb(10, 161, 237);
  }

  50% {
    background-color: white;
  }

  70% {
    background-color: rgb(83, 115, 222);
  }

  90% {
    background-color: rgb(10, 161, 237);
  }

  100% {
    background-color: rgb(63, 27, 126);
  }
}

/* The element to apply the animation to */
#Start {
  /* width: 100px;
    height: 100px; */
  /* background-color: red; */
  animation-name: startAnimation;
  animation-duration: 5s;
}

#popup-root {

  width: 300px !important;
  /* width:830px !important; */
  border-radius: 20px;
  position: absolute !important;
}

.scroll {
  overflow: auto;
  max-height: 830px;

}

.scroll2 {
  overflow: auto;
  max-height: 730px;
}

.popup-content {

  width: 830px !important;
}

.popup-overlay {
  position: relative !important;
  width: 100% !important;
  margin: auto !important;
}

.calendarStyle {
  overflow-x: hidden;
  max-height: 750px;
  padding-bottom: 20px;
}

.scrollRegisterLogin {
  overflow: auto;
  max-height: 742px;
  padding-bottom: 20px;
  padding-top: 131px;

}

.editingStyle {

  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.save-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;

}

.react-calendar__tile--active {
  background-color: #006edc;
  color: black;
}